<h2>{{title}}</h2>
    <div>
      <ul class="list">
        <li *ngFor="let ent for entityList" (click)="onSelect(ent)">
          {{ent.id}}. {{ent.name}}. {{ent.places}}. {{ent.price}}
          <span (click)="deleteEntities(ent)"> Delete </span>
        </li>
      </ul>
    </div>

  
    <h3 (click)="showAddForm=!showAddForm">Add product!</h3>
    <form *ngIf="showAddForm" #form1="ngForm" (ngSubmit)="addItems(form1.value)">
      <input type="hidden" name="id" ngModel="-1">
      <input type="text" name="name" ngModel placeholder="Name"><br><br>
      <input type="places" places="places" ngModel placeholder="Places"><br><br>
      <input type="price" price="price" ngModel placeholder="Price"><br><br>
      <input type="submit" value="Add entity">
    </form>
    
  <app-update [enti]="selectedItem" (updated)="updateEntities()"></app-update>
