<header>
  <div class="title">
    <h1> Tent's </h1>
  </div>
</header>

<section class = "items">
  <div class = "contaner">
    <a href = "./servlet" class="servlet"> Go to data </a>
  </div>
  <div class = "big_container">
    <button (click) = "getEntities()" class ="btn"> Get items </button>

    <ul>
      <li *ngFor = "let ent of entityList">
        Name: {{ent.name}} <br> Number of places: {{ent.places}} <br> Price: {{ent.price}} <br>
      </li>
    </ul>

    
  </div>
</section>

<section class="forms">
  <div class="container">
    <form (keyup)="getName(name.value)">
      <label> Name: </label>
      <input type="text" #name name="name" required class="input">
    </form>
    <form (keyup)="getPlaces(places.value)">
      <label> Places: </label>
      <input type="text" #places places="places" required class="input">
    </form>
    <form (keyup)="getPrice(price.value)">
      <label> Price: </label>
      <input type="text" #price price="price" required class="input">
    </form>

    <button (click) = "OnClick()" class="btn"> Update! </button>
  </div>
</section>

<footer>
  
</footer>