<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Додати</title>
</head>
<body>
<div>
  <h1>Додати новий тент</h1>
  <br/>
  <form action="#" th:action="@{/add}" th:object="${entity}" method="post">
    <table cellpadding="10">
      <tr>
        <td>Name:</td>
        <td><input type="text" th:field="*{name}"/></td>
      </tr>
      <tr>
        <td>Price:</td>
        <td><input type="text" th:field="*{price}"/></td>
      </tr>
      <tr>
        <td>Img</td>
        <td><input type="text" th:field="*{img}"></td>
      </tr>
      <tr>
        <td><button type="submit">Add</button></td>
      </tr>
    </table>
  </form>
</div>
</body>
</html>